<header class="page-header">
  <h2>{{'Pages' | translate}}</h2>
</header>
<div class="col-md-3">
  <button id="page-list-add-button" ng-click="list.add()" class="btn btn-primary" title="{{'Add from custom pages' | translate}}" aria-label="{{'Add from custom pages' | translate}}" ng-if="application.editable === 'true'">{{'Add' | translate}}</button>
</div>
<div class="col-md-9">
  <table class="table table-condensed">
    <tbody>
      <tr ng-repeat="page in pages track by $index" class="table-row table-row-{{$index}}"
      ng-class="{'page-is-home': application.homePageId == page.id}">
        <td class="page-name">
          {{ page.token }} - <em>{{ page.pageId.displayName }}</em>
        </td>
        <td class="td-small">
          <button class="btn-action-sethome glyphicon glyphicon-home"
              ng-class="application.editable === 'true' ? 'clickable' : ''"
              title="{{'Set as Home page' | translate}}"
              aria-label="{{'Set as Home page' | translate}}"
              ng-click="list.setAsHomePage(page)" ng-if="application.homePageId == page.id || application.editable === 'true'">
            <span aria-hidden="true">{{'Set as Home page' | translate}}</span>
          </button>
        </td>
        <td class="td-small">
          <button class="btn-action-delete clickable glyphicon glyphicon-trash"
              title="{{'Remove' | translate}}"
              aria-label="{{'Remove' | translate}}"
              ng-if="application.homePageId != page.id && application.editable === 'true'"
              ng-click="list.remove(page)">
            <span aria-hidden="true">{{'Remove' | translate}}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
